---
layout: layouts/resource-page.njk
title: English Resources
description: "Explore study resources for VCE English. Access notes on literary techniques, mood and tone words, and in-depth analysis of texts like 'Station Eleven'."
sitemap:
  priority: 0.6
---

<!-- Category 1: General Notes -->
<h3>General Notes</h3>
<ul class="resource-list">
    <li>
        <a href="https://github.com/Apoo711/vce-resources/releases/download/v.0.0.3-english/Literary-Techniques.pdf" download>Literary Techniques (PDF)</a>
        - Literary Techniques with a brief description and example.
    </li>
    <li>
        <a href="https://github.com/Apoo711/vce-resources/releases/download/v.0.0.3-english/Moods.pdf" download>Mood Words (PDF)</a>
        - Mood words with synonyms.
    </li>
    <li>
        <a href="https://github.com/Apoo711/vce-resources/releases/download/v.0.0.3-english/Tones.pdf" download>Tone words (PDF)</a>
        - Tone words with synonyms.
    </li>
</ul>

<!-- Category 2: Station Eleven -->
<h3>Station Eleven</h3>
<ul class="resource-list">
    <li>
        <a href="https://github.com/Apoo711/vce-resources/releases/download/v0.0.1-english/SE-Key-Quotes.pdf" download>Key Quotes (PDF)</a>
        - Key Quotes from the book, sorted by themes with a brief analysis.
    </li>
    <li>
        <a href="https://github.com/Apoo711/vce-resources/releases/download/v0.0.1-english/SE-Chapter-Summaries.pdf" download>Chapter Summaries (PDF)</a>
        - Summaries of the "sections" in the book.
    </li>
    <li>
        <a href="https://github.com/Apoo711/vce-resources/releases/download/v0.0.1-english/SE-Key-Locations.pdf" download>Key Locations (PDF)</a>
        - A list of the key locations, split into real and fictional.
    </li>
    <li>
        <a href="https://github.com/Apoo711/vce-resources/releases/download/v0.0.1-english/SE-Symbols.pdf" download>Symbols (PDF)</a>
        - A list of the symbols used in the book, with a brief analysis.
    </li>
    <li>
        <a href="https://github.com/Apoo711/vce-resources/releases/download/v0.0.1-english/Station-Eleven-LitChart.pdf" download>LitCharts summary (PDF)</a>
        - The LitCharts summary of the book.
    </li>
</ul>

<!-- Category 3: Power -->
<h3>Writing about Power</h3>
<ul class="resource-list">
    <li>
        <a href="https://github.com/Apoo711/vce-resources/releases/download/v0.0.2-english/Speech.pdf" download>Sample 1 - Speech (PDF)</a>
        - A sample Speech on the Dark Side of Power.
    </li>
    <li>
        <a href="https://github.com/Apoo711/vce-resources/releases/download/v0.0.2-english/Debate-Script.pdf" download>Sample 2 - Debate Script (PDF)</a>
        - A sample Debate Script on the abuse of power by Big Tech Companies.
    </li>
    <li>
        <a href="https://github.com/Apoo711/vce-resources/releases/download/v0.0.2-english/Short-Story.pdf" download>Sample 3 - Short Story (PDF)</a>
        - A sample Short Story on "The Algorithm" - a world where decisions are made by AI.
    </li>
</ul>
