---
layout: layouts/base.njk
title: VCE Resources
sitemap:
priority: 0.8
---

<main>
    <section id="vce-landing">
        <h2>VCE Resources</h2>
        <p style="text-align: center; margin-bottom: 40px; max-width: 650px; margin-left: auto; margin-right: auto;">
            Welcome! This section contains notes, cheatsheets, and study materials I've put together
            for various VCE subjects as I progress through my studies. Select a subject below to view available resources.
        </p>

        <div class="subject-link-container">
            <a href="/vce/spec-maths/" class="subject-link-item">Specialist Maths</a>
            <a href="/vce/math-methods/" class="subject-link-item">Mathematical Methods</a>
            <a href="/vce/physics/" class="subject-link-item">Physics 3&4</a>
            <a href="/vce/chem/" class="subject-link-item">Chemistry</a>
            <a href="/vce/eng/" class="subject-link-item">English</a>
        </div>
    </section>
</main>
