---
layout: layouts/resource-page.njk
title: Chemistry Resources
description: "A growing collection of study resources for VCE Chemistry. Find helpful notes and materials for Units 1 & 2 to aid in your exam preparation."
sitemap:
  priority: 0.6
---

<p>Resources for Chemistry are coming soon!</p>
