---
permalink: /index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url=https://aryan-gupta.is-a.dev">
    <link rel="canonical" href="https://aryan-gupta.is-a.dev">
    <title>Redirecting to Aryan Gupta's Portfolio...</title>
    <script>
        window.location.replace("https://aryan-gupta.is-a.dev");
    </script>
</head>
<body>
    <p>Redirecting to <a href="https://aryan-gupta.is-a.dev">aryan-gupta.is-a.dev</a>...</p>
</body>
</html>
